@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loginBody {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background-image: linear-gradient(
    to bottom right,
    rgba(140, 0, 255, 0.61),
    rgb(247, 126, 12)
  );
}
.logo {
  position: relative;
}
.wrapper {
  margin-top: 50px;
  min-height: 370px;
  min-width: 430px;
  box-shadow: 0 0 3px black;
  background-image: linear-gradient(to bottom right, violet, orange);
  text-align: center;
  border-radius: 50px;
  backdrop-filter: blur(30px);
}
.wrapper h1 {
  margin-top: 20px;
}
.wrapper button {
  margin-top: 15px;
  margin-left: 5px;
  width: 60%;
  height: 30px;
  background: white;
  border: none;
  outline: none;
  border-radius: 30px;
  box-shadow: 0 0 3px black;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
}
.input-box {
  left: 75px;
  position: relative;
  width: 190px;
  text-align: left;
}
.input-box input {
  width: 150%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 15px;
  color: black;
  outline: none;
  background: transparent;
}
.input-box input::placeholder {
  color: black;
}
.input-box i {
  position: absolute;
  left: 260px;
  bottom: 30px;
}
.input-box icon {
  position: absolute;
}
.input-box span {
  position: absolute;
}
.loginFailed {
  color: crimson;
  font-size: small;
  font-weight: bold;
}
.forgotPassword {
  font-size: small;
  margin-right: 165px;
  color: rgb(95, 93, 93);
  font-weight: 600;
}
.register {
  color: blue;
  font-weight: 600;
}
.userNotVerified {
  color: crimson;
  font-weight: bold;
  font-size: small;
}
