@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.emailLetter {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(
    to top left,
    rgba(140, 0, 255, 0.61),
    rgb(247, 126, 12)
  );
}
.emailLetter div {
  transform: translateX(10px);
}
.signupBody {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background-image: linear-gradient(
    to top left,
    rgba(140, 0, 255, 0.61),
    rgb(247, 126, 12)
  );
}
.signup-wrapper {
  margin-top: 50px;
  min-height: 470px;
  min-width: 430px;
  box-shadow: 0 0 3px black;
  background-image: linear-gradient(to top left, violet, orange);
  text-align: center;
  border-radius: 50px;
  backdrop-filter: blur(30px);
}
.signup-wrapper h1 {
  margin-top: 20px;
}
.signup-wrapper button {
  margin-top: 15px;
  transform: translateX(10px);
  width: 140%;
  height: 30px;
  background: white;
  border: none;
  outline: none;
  border-radius: 30px;
  box-shadow: 0 0 3px black;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
}
.signup-input-box {
  left: 75px;
  position: relative;
  width: 190px;
  text-align: left;
}
.signup-input-box input {
  width: 150%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 15px;
  color: black;
  outline: none;
  background: transparent;
}
.signup-input-box input::placeholder {
  color: black;
}
.signup-input-box i {
  position: absolute;
  transform: translateY(-30px);
  left: 260px;
}
.signupAs label {
  position: absolute;
  transform: translateY(-26px);
}
.signup-administration {
  box-shadow: 0 0 3px black;
  min-width: 350px;
  min-height: 170px;
  border-radius: 20px;
  text-align: center;
  transform: translateX(-35px);
}
.signup-administration p {
  transform: translateY(15px);
}
.signup-administration input {
  width: 290px;
}
.signUpError {
  color: crimson;
  font-weight: bold;
  font-size: small;
  position: relative;
}
.showAlert {
  color: crimson;
  font-weight: bold;
  font-size: small;
  position: relative;
  width: 300px;
}
.signup-login {
  color: blue;
  font-weight: 600;
}
